@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Poppins:wght@100;200;300;400;500;600&display=swap');
/*
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Poppins', sans-serif;
*/
*{box-sizing: border-box; font-family: 'Poppins', 'Nanum Gothic', sans-serif;}
html, body{margin: 0; padding: 0;}
h1, h2,h3, h4, h5, h6, p{margin: 0;}
ul, ol{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none;}

/* 사용자 설정 */
#user_select{
    padding: 20px 0;
    text-align: center;
}
#user_select h2{
    background-color: #4ca7ce;
    color: #fff;
    font-size: 24px;
    line-height: 1;
    padding: 20px 0;
}
#user_select .cities{
    padding: 20px 0 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#user_select .cities button{
    background-color: #4ca7ce;
    border: 1px solid #4ca7ce;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    margin: 0 5px 10px;
    cursor: pointer;
    transition: background-color 0.5s;
}
#user_select .cities button:hover{
    background-color: #fff;
    color: #4ca7ce;
}

#user_select .search{
    width: 400px;
    margin: 0 auto;
    border: 1px solid #4ca7ce;
    border-radius: 4px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}
#user_select .search input{
    width: calc(100% - 120px);
    height: 40px;
    padding: 0 10px;
    border:  none;
    color: #4ca7ce;
    outline-color: #4ca7ce;
}
#user_select .search button{
    width: 120px;
    height: 40px;
    border: none;
    background-color: #3f87a6;
    color: #fff;
    outline-color: #3a6cf8;
    cursor: pointer;
}


/*날씨 리스트*/
#weather {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0 0;
    background-color: #ebefef;
}
#weather ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#weather ul li {
    width: calc(100% / 3 - 20px);
    margin: 0 10px 20px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: inset 2px 2px 4px rgba(255,255,255,0.2), 2px 2px 4px rgba(0,0,0,0.2);
}

#weather ul li .top {
    padding: 20px 0;
    background-color: #4ca7ce;
    display: flex;
    align-items: center;
    color: #fff;
}

#weather ul li .top > div {
    width: 50%;
    padding: 0 20px;
}
#weather ul li .top .cur_icon {
    font-size: 60px;
    text-align: center;
}

#weather ul li .top .info {
    text-align: right;
}
#weather ul li .top .info .temp {
    font-size: 16px;
}
#weather ul li .top .info .temp .degree {
    font-size: 24px;
}
#weather ul li .top .info .interTemp {
    font-size: 13px;
}
#weather ul li .top .info .interTemp span {
    font-size: 15px;
}

#weather ul li .top .info h4 {
    font-size: 24px;
}

#weather ul li .top .location {
    font-size: 14px;
}

#weather ul li .bottom {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#weather ul li .bottom > div {
    width: calc(100% / 3 - 20px);
    text-align: center;
    font-size: 14px;
    color: #555;
}
#weather ul li .bottom > div i {
    font-size: 18px;
    color: #ebf8e1;
}
#weather ul li .bottom > div p {
    line-height: 1.6;
}